@use 'colors';

.switch {
  img {
    width: 20px;
    object-fit: contain;
    cursor: pointer;
  }
}

.check {
  background-color: colors.$mid-green;
  width: 30px;
  img {
    width: 20px;
    margin: 0 auto;
    object-fit: contain;
    cursor: pointer;
  }
}
.outer-ring {
  display: flex;
  justify-content: space-around;
  width: 15px;
  height: 15px;
  border: 3px solid green;
  border-radius: 10px;
  transition: 0.3s all;
  &:hover {
    border: 5px solid green;
    border-radius: 15px;
  }
}
.inner-ring {
  padding-top: 3px;
  width: 10px;
  height: 10px;
  background-color: colors.$mid-green;
  border-radius: 10px;
}
