@use 'colors';
@use 'fonts';

.switch {
  img {
    width: 20px;
    object-fit: contain;
    cursor: pointer;
  }
}

.check {
  background-color: colors.$mid-green;
  width: 30px;
  img {
    width: 20px;
    margin: 0 auto;
    object-fit: contain;
    cursor: pointer;
  }
}
.outer-ring {
  display: flex;
  justify-content: space-around;
  width: 15px;
  height: 15px;
  border: 3px solid green;
  border-radius: 10px;
  transition: 0.3s all;
  &:hover {
    border: 5px solid green;
    border-radius: 15px;
  }
}
.inner-ring {
  padding-top: 3px;
  width: 10px;
  height: 10px;
  background-color: colors.$mid-green;
  border-radius: 10px;
}

[class*="delete-button"] {
  box-sizing: border-box;
  width: 120px;
  height: 50px;
  border: 3px solid white;
  border-radius: 25px;
  transition: 0.5s all;
  font-size: 1rem;
  font-family: "sourcesans-regular";
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 5px gray;
}

.disabled-delete-button {
  pointer-events: none;
  background-color: gray;
}
.active-delete-button {
  background-color: colors.$blue-aacn;
  pointer-events: auto;
  &:hover {
    background-color: colors.$purple-medium;
  }
}

.button-container {
  box-sizing: border-box;
  width: 50%;
  margin: 50px auto;
  padding: 5px;
  color: green;
  // width: 400px;
  // height: 200px;
  display: flex;
  justify-content: space-between;
}
