@use 'colors';
@use 'fonts';

.switch-container {
  will-change: box-shadow;

  width: 40px;
  height: 15px;
  margin-top: -3px;
  box-shadow: 0px 0px 5px colors.$merlingray;
  border-radius: 5px;
  transition: 0.8s all;
}
.switch-container-open {
  width: 40px;
  height: 15px;
  margin-top: -3px;
  box-shadow: 0px 0px 5px colors.$orange-carrot;
  border-radius: 5px;
  transition: 0.8s all;
}

[class*="switch-light"] {
  will-change: justify-content;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: colors.$purple-medium;
  transition: 0.8s all;
}

.switch-light-open {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.8s all;
  background-color: rgb(255, 179, 0);
  box-shadow: 2px 2px 5px colors.$orange-carrot;
}

.switch {
  width: 25px;
  height: 95%;
  border-radius: 5px;
  background-color: ghostwhite;
  transition: 0.8s all;
  &:active {
    &:hover {
      width: 40px;
      transition: 0.8s all;
      height: 95%;
    }
  }
}
.switch-open {
  width: 25px;
  height: 95%;
  border-radius: 5px;
  box-shadow: inset 0px 0px 1px colors.$orange-cinnamon;
  background-color: ghostwhite;

  transition: 0.3s all;
  &:active {
    &:hover {
      width: 40px;
      transition: 0.3s all;
      height: 95%;
    }
  }
}

.check {
  background-color: colors.$mid-green;
  width: 30px;
  img {
    width: 20px;
    margin: 0 auto;
    object-fit: contain;
    cursor: pointer;
  }
}
.outer-ring {
  display: flex;
  justify-content: space-around;
  width: 15px;
  height: 15px;
  border: 3px solid green;
  border-radius: 10px;
  transition: 0.3s all;
  &:hover {
    border: 5px solid green;
    border-radius: 15px;
  }
}
.inner-ring {
  padding-top: 3px;
  width: 10px;
  height: 10px;
  background-color: colors.$mid-green;
  border-radius: 10px;
}

[class*="delete-button"] {
  box-sizing: border-box;
  width: 120px;
  height: 50px;
  border: 3px solid white;
  border-radius: 25px;
  transition: 0.5s all;
  font-size: 1rem;
  font-family: "sourcesans-regular";
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 5px gray;
}

.disabled-delete-button {
  pointer-events: none;
  background-color: gray;
}
.active-delete-button {
  background-color: colors.$blue-aacn;
  pointer-events: auto;
  &:hover {
    background-color: colors.$purple-medium;
  }
}

.button-container {
  box-sizing: border-box;
  width: 50%;
  margin: 50px auto;
  padding: 5px;
  color: green;
  // width: 400px;
  // height: 200px;
  display: flex;
  justify-content: space-between;
}
