$mid-green: rgb(128, 199, 23);
$dark-red: #cc0000;
$bright-red: #ff0000;

$deep-purple: #660066;

$dark-green: #49a01d;
$light-green: #7aec41;
$white-green: #d2fcbe;
$white-yellow: #fafdeb;

$pink: rgb(226, 49, 226);
$light-pink: rgb(252, 172, 209);
$med-purple: #9e0a9e;
