
$blue-aacn:rgb(0 ,84, 150); // HEX: #005496
$blue-scooter:rgb(54, 196,214);//HEX: #36c4d6
$blue-eastern:rgb(30, 151,166);//HEX: #1e97a6 

$mid-green: rgb(128, 199, 23);
$dark-red: #cc0000;
$bright-red: #ff0000;
$light-red: #e9acac;
$deep-purple: #660066;

$dark-green: #49a01d;
$light-green: #7aec41;
$off-light-green: #75e23e;
$light-orange: #e6bf57;
$mid-orange: #df9e36;
$white-green: #d2fcbe;
$white-yellow: #fafdeb;

$pink: rgb(226, 49, 226);
$light-pink: rgb(252, 172, 209);
$med-purple: #9e0a9e;


$merlingray:rgb(71, 67,63);  // #47433f
$cloudygray:rgb(175, 172,168);  // #afaca8
$timberwolfgray:rgb(212, 209,205);  // #ded1cd
$cararrawhite:rgb(241,239,237); //#f1efed
$sunsetorange:rgb(252,77,60); //#fc4d3c

$blue-dodger: rgb(  43,146,247 ) ; // #2b92f7
$blue-denim: rgb(24,108,191) ; //#186cbf
$purple-medium: rgb( 159 ,102,230 ) ; // #9f66e6
$purple-royal: rgb(107,57,170  ) ; //#6b39aa
$green-caribbean: rgb(  13,202,146 ) ; //#0dca92
$green-observatory: rgb(4,131,93) ; //#04835d

$orange-carrot:rgb(253,151,65); //#fd9741
$orange-cinnamon:rgb(199,106,27); //#c76a1b