@use 'colors';
@use 'fonts';

@keyframes change-color {
  0% {
    background-color: white;
    color: colors.$dark-red;
  }
  100% {
    background-color: colors.$bright-red;
  }
}

.dropzone-idle {
  
  &:before {
    content: "Drag and drop file here ";
  }
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 150px;
  margin-top: 50px;
  text-align: center;
  border: 2px dashed colors.$light-green;
  text-align: center;
  color: colors.$dark-red;
  font-size: 1.5rem;
  box-sizing: border-box;
  padding: 60px;
  transition: 0.3s all;
  div{opacity:1}
  .select-file-button {
    &:hover {
      transition: 0.2s all;
      background-color: colors.$bright-red;
    }
  }
}

.dropzone-active {
  margin: auto;
  &:before {
    font-size: 3rem;
    margin-top: 100px;
    content: "DROP!!";
    color: white;
  }
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin-top: 50px;
  text-align: center;
  border: 2px dashed colors.$light-green;
  text-align: center;
  color: colors.$dark-red;
  font-size: 1.5rem;
  padding: 60px;
  box-sizing: border-box;
  transition: 0.3s all;
  animation: change-color linear 2s;
  .select-file-button {
    transition: 0.3s all;
    display: none;
  }
}
.select-container {
  display: flex;

  position: relative;
  margin-top: 20px;
}
.select-button {
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  color: white;
  background-color: colors.$dark-red;
  transition: 0.2s all;
  &:hover {
    background-color: colors.$light-green;
    transition: 0.2s all;
  }
}

/////////////////////////////////////////////////////////////////////////////////////

.table-container {
  border: 2px solid red;
  position: relative;
  top: 70%;
  left: 0px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  flex-direction: column;
  table {
    margin: 10px;
    border: 1px dotted lightblue;
    width: 46vw;
    margin: 0px;
    tr {
      th {
        background-color: slategray;
        color: white;
      }
    }
  }
  caption {
    font-family: fonts.$vt;
    display: block;
    color: rgb(250, 171, 185);
    margin-bottom: 10px;
    font-size: 1.2rem;
    &::after {
      content: "..";
    }
  }
}

.upload-container {
  display: flex;
  height: auto;
  overflow: hidden;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  transition: all 0.5s;
}

.title-box {
  font-family: sans-serif;
  height: 30px;
  background-color: ghostwhite;
}

@keyframes pulse {
  0%{color:white;background-color:colors.$blue-dodger;box-shadow: 0px 0px 5px colors.$blue-dodger; }
  100%{color:white;background-color:colors.$purple-medium ;box-shadow: 0px 0px 5px colors.$purple-medium;}

}
@keyframes completed {
  0%{text-shadow:0px 0px 10px white;color:white;background-color:colors.$green-caribbean;box-shadow: 0px 0px 5px colors.$green-caribbean;}
  100%{text-shadow:0px 0px 5px white;color:white;background-color:colors.$green-observatory;box-shadow: 0px 0px 5px colors.$green-observatory; }

}

.loading-bar {
  font-family: "sourcesans-regular";
  font-size: 1.2rem;

}
.upload-list-item {
  box-sizing: border-box;
  margin:5px auto;
  height: 35px;
  border-radius:30px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:white;
  padding:3px;
  background:linear-gradient(to right, colors.$merlingray, colors.$cloudygray);
  box-shadow: 2px 2px 5px gray;
  align-items: center;
  transition: all 1s;
  .name-box{width:20%};
  .size-box{width:5%};
  .type-box{width:5%};
  .progress-box{width:50%; text-align:center;border-radius: 15px; &>div{border-radius: 15px;  
    text-shadow:0px 0px 5px white;
    animation-name:pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate};
    animation-fill-mode:forwards;}
  .close-box{font-size:1.6rem;width:30px;text-align:center;height:30px;background-color: colors.$timberwolfgray;border-radius: 15px;}
}
    .completed {

      &>.progress-box {div{animation-name:completed;animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode:forwards;}}
    
    
  }



