@use 'colors';
@use 'fonts';

.panel-container {
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid colors.$mid-green;
  padding: 5px;
}

[class*="details-container-"] {
  transition: all 1s;
  border: 2px solid pink;
}
.details-container-0 {
  flex-basis: 5px;
}
.details-container-1 {
  flex-basis: 100px;
}
.details-container-2 {
  flex-basis: 500px;
}
[class*="upload-container-"] {
  background: skyblue;
  transition: all 1s;

  overflow: hidden;
}
.upload-container-0 {
  flex-basis: 100px;
}
.upload-container-1 {
  flex-basis: 100px;
}
.upload-container-2 {
  flex-basis: 300px;
}

[class*="list-container-"] {
  background: linear-gradient(0deg, colors.$white-green, colors.$white-yellow);
  transition: all 1s;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.list-container-0 {
  flex-basis: 100px;
}
.list-container-1 {
  flex-basis: 100px;
}
.list-container-2 {
  flex-basis: 500px;
}

[class*="pending-list-"] {
  border: 2px solid green;

  transition: 0.5s all;
}

.pending-list-0 {
  flex-basis: 5%;
}
.pending-list-1 {
  flex-basis: 30%;
}
.pending-list-2 {
  flex-basis: 90%;
}

.details-page {
  background: rgb(252, 223, 171);
  height: 100%;
}

[class*="dropzone-container"] {
  transition: 0.5s all;
  border: 2px solid green;
}
.dropzone-container-0 {
  flex-basis: 5%;
}
.dropzone-container-1 {
  flex-basis: 40%;
}
.dropzone-container-2 {
  flex-basis: 90%;
}
[class*="completed-list-"] {
  border: 2px solid green;
  transition: 0.5s all;
}
.completed-list-0 {
  flex-basis: 5%;
}
.completed-list-1 {
  flex-basis: 30%;
}
.completed-list-2 {
  flex-basis: 90%;
}
[class*="list-"] {
  box-sizing: border-box;
  border: 2px solid
    linear-gradient(45deg, colors.$dark-green, colors.$light-green);
  transition: 0.5s all;

  font-family: fonts.$mono;
  .list-heading {
    font-family: fonts.$vt;
  }
}
.list-0 {
  flex-basis: 5%;
}
.list-1 {
  flex-basis: 30%;
}
.list-2 {
  flex-basis: 90%;
}

.list-heading {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 5px;
  color: white;
  text-shadow: 1px 1px 5px white;
  background: linear-gradient(45deg, colors.$dark-green, colors.$mid-green);
}

[class*="row-"] {
  display: flex;
  justify-content: space-between;
  border: 2px solid colors.$light-green;
  flex: 1 1 0px;
  font-size: 0.9rem;
  background: colors.$light-green;
  &:nth-of-type(odd) {
    background: colors.$off-light-green;
  }
}
.row-heading {
  font-size: 1.1rem;
  background: colors.$mid-green;
}
[class*="column-"] {
  color: colors.$white-yellow;
  flex-grow: 1;
  text-shadow: 1px 1px 5px white;

  text-align: center;

  &:first-of-type {
    text-align: start;
  }
  &:last-of-type {
    text-align: end;
  }
}
.list-wrapper {
  display: flex;
  flex-direction: column;
}
