@use 'colors';
@use 'fonts';

.panel-container {
  height: auto;
  display: flex;
  max-width: 1600px;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px auto;
  border: 1px solid colors.$mid-green;
}

[class*="details-container-"] {
  transition: all 0.5s;
  overflow: hidden;
  background: linear-gradient(0deg, colors.$white-green, colors.$white-yellow);
}
.details-container-0 {
  height: 30px;
}
.details-container-1 {
  flex-basis: 00px;
  height: 30px;
}
.details-container-2 {
  height: 700px;
}
[class*="upload-container-"] {
  background: linear-gradient(0deg, colors.$white-green, colors.$white-yellow);
  transition: all 0.5s;

  overflow: hidden;
}
.upload-container-0 {
  height: auto;
  height: 30px;
}
.upload-container-1 {
  height: 100px;
}
.upload-container-2 {
  height: 300px;
  overflow-y: scroll;
}

[class*="list-container-"] {
  background: linear-gradient(0deg, colors.$white-green, colors.$white-yellow);
  transition: all 1s;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.list-container-0 {
  flex-basis: 30px;
}
.list-container-1 {
  flex-basis: 100px;
}
.list-container-2 {
  flex-basis: 500px;
}

// [class*="pending-list-"] {
//   border: 2px solid green;

//   transition: 0.5s all;
// }

// .pending-list-0 {
//   flex-basis: 5%;
// }
// .pending-list-1 {
//   flex-basis: 30%;
// }
// .pending-list-2 {
//   flex-basis: 90%;
// }

[class*="dropzone-container"] {
  transition: 0.5s all;
}
.dropzone-container-0 {
  flex-basis: 5%;
}
.dropzone-container-1 {
  flex-basis: 40%;
}
.dropzone-container-2 {
  flex-basis: 90%;
}
// [class*="completed-list-"] {
//   border: 2px solid green;
//   transition: 0.5s all;
// }
// .completed-list-0 {
//   flex-basis: 5%;
// }
// .completed-list-1 {
//   flex-basis: 30%;
// }
// .completed-list-2 {
//   flex-basis: 90%;
// }
[class*="list-"] {
  box-sizing: border-box;
  border: 2px solid
    linear-gradient(45deg, colors.$dark-green, colors.$light-green);
  transition: 0.5s all;

  font-family: fonts.$mono;
  .list-heading {
    font-family: fonts.$vt;
  }
}
.list-0 {
  flex-basis: 5%;
}
.list-1 {
  flex-basis: 30%;
}
.list-2 {
  flex-basis: 90%;
}

.list-heading {
  display: flex;
  justify-content: space-between;
  height: 30px;
  font-size: 1.3rem;
  padding: 5px;
  color: white;
  text-shadow: 1px 1px 5px white;
  background: linear-gradient(45deg, colors.$dark-green, colors.$mid-green);
}

[class*="row-"] {
  display: flex;
  justify-content: space-between;
  border: 2px solid colors.$light-green;
  flex: 1 1 0px;
  font-size: 0.9rem;
  background: colors.$light-green;
  transition: all 0.2s;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:nth-of-type(odd) {
    background: colors.$off-light-green;
  }
  &:not(.row-heading):not(.row-page) {
    cursor: pointer;
    &:hover {
      background-color: rgb(241, 161, 55);
    }
  }
}
.row-heading {
  font-size: 1rem;
  background: colors.$mid-green;
}
[class*="column-"] {
  color: colors.$white-yellow;
  flex-grow: 1;
  width: 32%;
  text-shadow: 1px 1px 5px white;
  text-align: center;
  white-space: nowrap;

  &:first-of-type {
    text-align: start;
  }
  &:last-of-type {
    text-align: end;
  }
}
.list-wrapper {
  display: flex;
  flex-direction: column;
}
[class*="column-full"] {
  width: 17%;
}
