@use 'breakpoints';


.container {
    @include breakpoints.device(desktop){
        width:1200px;
        background:lightgray;
        margin:0px auto

    }
    @include breakpoints.device(tablet){
        width:100%;
        background:lightgray;
        margin:0px auto;
        

    }

}