@keyframes arrive {
    0% {transform:translateX(100px);opacity:0}
    100% {transform:translateX(0px);opacity:1}
}


.list{

    background:pink;
    // animation:arrive 2s;
    border:2px solid green;
    transition: .5s all;

    
}
.inner-list{
    
}

.list-depart{
    margin-left:-100px;
}

.medialist-container{

    width: 400px;
    overflow: hidden;
}