

.title-container {
    height:80px;
    width:100%;
    display:flex;
    background:black;
    color:white;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;


}
.logo-container{
margin-left:40%;
font-size: 2rem;

}